.personalInfo{
	.margin top: 20px;
	padding: 10px;
	margin: 20px;
}

.registration {
	padding: 10px;
	margin: 20px;
}

.interestingFact {
	padding: 10px;
	margin: 20px;
}

.additionalInfo {
	padding: 10px;
	margin: 20px;
}

