/* styles go here */
.block {
  margin-bottom: 20px;
}

.block__input {
  display: block;
  margin-bottom: 10px;
}

.block__input:last-child {
  margin: 0;
}

.form {
  margin-bottom: 20px;
}

.radio-input__item {
  display: inline;
}
