/* styles go here */
.form-input {
  display: block;
}

.form__input:not(:last-child) {
  margin-bottom: 10px;
}

.form__input div {
  display: inline;
}

.form__group:not(:last-child) {
  margin-bottom: 20px;
}
