.personal-information,
.registration,
.facts,
.info {
  display: block;
}

.fieldset {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 10px;
}

.fieldset .label:last-child {
  margin-bottom: 0;
}
